.head_top{
    width:100%;
    background-color:#f7f7f7;
    border-bottom:1px solid #cccccc;
}
.head_top_box{
    padding:5px;
}
.head_top ul{
    float:right;
}
.head_top  ul li{
    float: left;
    display: inline-block;
}
.head_top_box span{
    margin-left:20px;
    color:#808080;
    font-size:14px;

}

.search{
    widht:100%;
}
.search_box{
    padding:28px;
    position:relative;
    /*border:1px solid blue;*/
}
.search_box ul{
    float: right;
    margin-bottom: 8px;
}
.search_box ul li{
    float: left;
    margin-left: 22px;
}
.search_box .search_text{
    width:260px;
    height:26px;
    border:1px solid #c9caca;
}
.search_box .search_btn{
    width:47px;
    height:28px;
    -webkit-box-shadow: 1px 1px 1px 1px #cacaca;
    -moz-box-shadow: 1px 1px 1px 1px #cacaca;
    box-shadow: 1px 1px 1px 1px #cacaca;
    background-color: #b61d22;
    color:#ffffff;
}

.search_box .gouwu{
    width:107px;
    height:28px;
    color:#ffffff;
    background-color:#b81b22;
    line-height:28px ;
    font-size:16px;
    text-align: center;
}
.search_box .gouwu i{
    font-size: 20px;
}
.search_box .remen{
    /*border:1px solid blue;*/
    position:absolute;
    color:#727171;
    right:30px;
    bottom:10px;
    font-family: "宋体";
}

.nav{
    margin-bottom: 20px;
}
.nav .nav_box .logo{
    display: inline-block;
    width:200px;
    height:50px;
    background:url(../images/logo.png) 0 0 no-repeat;
}
.nav_box ul{
    color:#727171;
    text-align: center;
    vertical-align:bottom;
    display:inline-block;
    margin-left:15px;
}

.nav_box ul li{

    padding:0 30px;
    float: left;
    /*border:1px solid purple;*/
    border-right:1px solid #888888;
    border-bottom:0px solid #B81C22;
    transition:0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    font-size:16px;
    font-family: "Microsoft YaHei";
}
.nav_box ul li:last-child{
    border:transparent;
}
.nav_box ul li:hover{
    color:#ff0000;
    border-bottom:5px solid #B81C22;

}
.flash{
    margin-bottom: 40px;
}
.flash_box{
    position:relative;
}
.flash_box img{
    display:none;
}
.flash_box ul{
    position:absolute;
    left:540px;
    bottom:30px;

}
.flash_box ul li{
    width:12px;
    height:12px;
    float:left;
    border-radius:6px;
    margin:0 5px;
    background: #9e9e9e;
}
.flash_box .flash_left{

}
.flash_box .flash_right{

}

.getMoney{
    margin-bottom: 40px;
}


